/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

a:hover {
  color: #fff;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  background-color: #403C3B;
}

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 13px 14px 24px;
  background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
}
.btn .product__value {
  border-radius: 50%;
  padding: 0 8px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  background-color: #fff;
  color: #403C3B;
  font-size: 12px;
  font-weight: 600;
  margin-left: 32px;
  position: relative;
}
.btn .product__value::before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: auto;
  right: auto;
  left: -12px;
  transform: translateY(-50%);
  width: 1px;
  height: 38px;
  background: rgba(255, 255, 255, 0.3);
}
.btn:hover {
  color: #fff;
  background: linear-gradient(115deg, #72A479 5.11%, #618967 94%);
}
.btn:focus {
  box-shadow: none;
}

.intro__content-btn {
  color: #fff;
  font-family: "Zing Rust Demo Base";
  font-size: 25px;
  line-height: 109.2%;
  padding: 5px 23px;
  background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
  display: inline-block;
  margin-top: 20px;
  transform: rotate(-8.022deg) skewX(-12.022deg);
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 23px 0;
}
.header__logo {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 3.75px;
}
.header__search-box {
  width: 555px;
  margin: 0 30px 0 72px;
}
.header__search {
  color: #CFCFCF;
  font-size: 18px;
  border: none;
  padding: 15px 17px 15px 48px;
  background-color: #504B4A;
  border-radius: 10px;
}
.header__search::-moz-placeholder {
  color: #CFCFCF;
}
.header__search::placeholder {
  color: #CFCFCF;
}
.header__location-icon {
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
  right: auto;
  cursor: pointer;
}
.header__search-icon {
  top: 50%;
  transform: translateY(-50%);
  left: auto;
  right: 19px;
  cursor: pointer;
}
.header__contact-box .phone-bg {
  background-color: #618967;
  border-radius: 50%;
  padding: 0 9px;
  height: 32px;
  line-height: 32px;
}
.header__cantact-number {
  margin-left: 10px;
}
.header__cantact-number span {
  color: #CFCFCF;
  font-size: 12px;
  line-height: 20px;
  display: block;
}
.header__cantact-number a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

@media screen and (max-width: 1469px) {
  .header__cart-btn .btn img {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .header__cart-btn .btn {
    width: 62px;
    height: 56px;
    padding: 14px 13px 14px 3px;
  }
  .header__cart-btn .btn img {
    display: block;
  }
  .header__cart-btn .btn .product__value {
    display: none;
    border-left: none;
    border-bottom: 1px solid #fff;
  }
}
.footer {
  background: linear-gradient(271deg, #44403F 0.4%, #211F20 100%);
  margin-top: 500px;
  align-items: center;
  padding-top: 26px;
  height: 195px;
}
.footer .btn-top {
  margin-left: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: #FFF;
  line-height: 64px;
  text-align: center;
}

.footer-texts {
  margin-right: 80px;
  padding-bottom: 30px;
}
.footer-texts .header__logo {
  padding-top: 26px;
  margin-left: 55px;
}
.footer-texts p {
  color: #CFCFCF;
  font-size: 12px;
  font-weight: 500;
  width: 189px;
  margin-bottom: 7px;
  margin-left: 55px;
}

.footer-links a {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  margin-right: 43px;
}

.intro {
  background-image: url(../../images/intro-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 72px 0 137px 0;
}
.intro__content {
  max-width: 613px;
  text-align: center;
}
.intro__content-title {
  color: #FFF;
  font-family: "Zing Rust Demo Base";
  font-size: 67px;
  font-weight: 400;
  line-height: 109.2%;
  transform: rotate(-8.368deg);
  margin-top: 33px;
  text-shadow: -7px 4px 0px rgba(255, 255, 255, 0.25);
}

.sliders .sliders__menu {
  padding-top: 23px;
  padding-bottom: 23px;
  margin-bottom: 52px;
}
.sliders .menu__parent {
  padding-left: 0;
}
.sliders .menu__parent li {
  list-style: none;
}
.sliders .menu__parent .menu__links {
  margin-right: 24px;
  color: #CFCFCF;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.1s linear;
}
.sliders .menu__parent .menu__links:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #618967;
}
.sliders .menu__parent .menu__links.active {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 3px solid #618967;
}
.sliders .first-slider__title {
  margin-bottom: 50px;
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 4px solid #618967;
  padding-left: 20px;
}
.sliders .mySwiper .swiper-wrapper {
  margin-bottom: 50px;
}
.sliders .mySwiper .swiper-slide {
  width: 100%;
}
.sliders .mySwiper .swiper-slide-active {
  margin-right: 0;
  width: 325px;
}
.sliders .mySwiper .slide-img img {
  width: 100%;
}
.sliders .mySwiper .slider-content {
  background-color: #4D4847;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
}
.sliders .mySwiper .slider-content h5 {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
}
.sliders .mySwiper .slider-content .slider-big__text {
  color: #CFCFCF;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 15px;
}
.sliders .mySwiper .slider-content .ssss {
  margin-bottom: 30px;
}
.sliders .mySwiper .slider-content .content-footer {
  display: flex;
}
.sliders .mySwiper .slider-content .content-footer span {
  color: white;
  margin-right: 160px;
}
.sliders .mySwiper .slider-content .content-footer .btn {
  width: 137px;
}
.sliders .mySwiper .content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.sliders .mySwiper .content-head p {
  color: #FFF;
  font-size: 12px;
}

.about-us {
  width: 1363px;
  height: 610px;
  margin: 0 auto;
  background: url(../images/about-us_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.about-us .about-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 100px 0 26px 70px;
}
.about-us .about-text {
  width: 563px;
  color: #CFCFCF;
  font-size: 20px;
  line-height: 25px;
  padding: 0 0 60px 70px;
}
.about-us .about-btn {
  color: #FFF;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: 700;
  margin-left: 70px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  padding: 22px 25px 21px 64px;
}

.about-us_cards {
  padding: 71px 0 0 0;
}
.about-us_cards .ss .card-text {
  padding-left: 23px;
}
.about-us_cards .sss .card-text {
  padding-left: 12px;
  color: #79b282;
}
.about-us_cards .about-card {
  background: rgba(80, 75, 74, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 228px;
  height: 226px;
  padding: 66px 22px 40px 21px;
  margin: 15px;
}
.about-us_cards .about-card svg {
  margin-left: 58px;
  margin-right: 57px;
  margin-bottom: 26px;
  /*:hover {
  	color: #79B282;
  }*/
}
.about-us_cards .about-card .card-text {
  font-size: 18px;
  /*:hover {
  	color: #79B282;
  }*/
}
.about-us_cards .about-card:hover {
  box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.s {
  padding: 71px 0 71px 160px;
}

.map {
  background: url(../images/map-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  height: 865px;
  position: absolute;
  top: 2930px;
  z-index: -1;
}

.map-form {
  border-radius: 15px;
  background: #2E2B2C;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
  margin-top: 190px;
  width: 526px;
  height: 405px;
}
.map-form .form-title {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 0 26px 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}

.form-main .form-main_top {
  padding-left: 30px;
  margin-top: 20px;
  position: relative;
}
.form-main .form-main_top .fmt-img {
  margin-top: 18px;
  margin-left: 56px;
}
.form-main .form-main_top .fmt-img img {
  position: absolute;
  top: 2px;
  left: 60px;
}
.form-main .form-main_top .fmt-content span {
  color: #CFCFCF;
  font-size: 14px;
  padding-top: 15px;
}
.form-main .form-main_top .fmt-content p {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  width: 520px;
}
.form-main .form-main_center {
  padding-left: 87px;
  margin-top: 20px;
  margin-bottom: 17px;
  position: relative;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.form-main .form-main_center .fmt-img_two img {
  position: absolute;
  top: 3px;
  left: 60px;
}
.form-main .form-main_center span {
  color: #CFCFCF;
  font-size: 14px;
}
.form-main .form-main_center p {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
}

.form-footer .f-top_btn .btn {
  margin-left: 52px;
  margin-bottom: 30px;
  margin-right: 33px;
}
.form-footer .f-top_content p {
  color: #FFF;
  font-size: 23px;
  font-weight: 700;
}
.form-footer .f-top_content span {
  color: #CFCFCF;
  font-size: 13px;
}
.form-footer .ffooter-bottom_title {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  padding-left: 152px;
  padding-right: 26px;
  padding-bottom: 24px;
}

.modal-content {
  border-radius: 10px;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
  width: 458px;
  height: 348px;
}
.modal-content .modal-header {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.modal-content .btn-close {
  padding: 16px;
}
.modal-content .modal-body svg {
  margin-left: 180px;
  margin-top: 52px;
  margin-bottom: 14px;
}
.modal-content .modal-body h4 {
  margin-bottom: 43px;
}
.modal-content .modal-body .btn {
  margin-left: 140px;
}

.acardions-title {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 91px;
  padding-left: 19px;
  border-left: 4px solid #618967;
}

.accordion-container {
  max-width: 600px;
  margin: 42px 20px 30px 93px;
}

.accordion {
  width: 618px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.accordion-header {
  border-radius: 10px;
  background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
  color: #fff;
  padding: 15px;
  cursor: pointer;
  width: 618px;
  height: 68px;
}
.accordion-header .drop {
  margin-left: 200px;
}

.accordion-content {
  display: none;
  padding: 15px;
}
.accordion-content p {
  margin: 0;
  margin-left: 30px;
  color: #FFF;
  font-size: 16px;
  line-height: 25px;
}

.mapping {
  position: absolute;
  top: 43%;
  right: 7%;
}

.mapping iframe {
  width: 640px;
  height: 450px;
}

.main-two_contents .mt-content {
  margin-left: 93px;
}
.main-two_contents p {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
}
.main-two_contents span {
  color: #CFCFCF;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 10px;
}

.mt-contents {
  margin-left: 93px;
}
.mt-contents span {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
}
.mt-contents p {
  margin-top: 10px;
  color: #CFCFCF;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  width: 697px;
  margin-bottom: 37px;
}

.two {
  margin-top: 0;
}/*# sourceMappingURL=main.css.map */