.intro {
	background-image: url(../../images/intro-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 72px 0 137px 0;

	&__content {
		max-width: 613px;
		text-align: center;

		&-title {
			color: #FFF;
			font-family: 'Zing Rust Demo Base';
			font-size: 67px;
			font-weight: 400;
			line-height: 109.2%;
			transform: rotate(-8.368deg);
			margin-top: 33px;
			text-shadow: -7px 4px 0px rgba(255, 255, 255, 0.25);
		}
	}
}

.sliders {
	.sliders__menu {
		padding-top: 23px;
		padding-bottom: 23px;
		margin-bottom: 52px;
	}

	.menu__parent {
		padding-left: 0;

		li {
			list-style: none;
		}

		.menu__links {
			margin-right: 24px;
			color: #CFCFCF;
			font-size: 18px;
			text-decoration: none;
			transition: all 0.1s linear;
		}

		.menu__links:hover {
			padding-bottom: 10px;
			border-bottom: 3px solid #618967;
		}

		.menu__links.active {
			color: #FFF;
			font-size: 18px;
			font-weight: 500;
			padding-bottom: 10px;
			border-bottom: 3px solid #618967;
		}
	}

	.first-slider__title {
		margin-bottom: 50px;
		color: #FFF;
		font-size: 32px;
		font-weight: 700;
		text-transform: uppercase;
		border-left: 4px solid #618967;
		padding-left: 20px;
	}

	.mySwiper {
		.swiper-wrapper {
			margin-bottom: 50px;
		}

		.swiper-slide {
			width: 100%;
		}

		.swiper-slide-active {
			margin-right: 0;
			width: 325px;
		}

		.slide-img {
			img {
				width: 100%;
			}
		}

		.slider-content {
			background-color: #4D4847;
			width: 376px;
			padding-top: 14px;
			padding-left: 20px;
			padding-bottom: 20px;
			padding-right: 16px;

			h5 {
				color: #FFF;
				font-size: 22px;
				font-weight: 700;
			}

			.slider-big__text {
				color: #CFCFCF;
				font-size: 13px;
				line-height: 17px;
				margin-bottom: 15px;
			}

			.ssss {
				margin-bottom: 30px;
			}

			.content-footer {
				display: flex;

				span {
					color: white;
					margin-right: 160px;
				}

				.btn {
					width: 137px;
				}
			}
		}

		.content-head {
			// padding: 0 0 0 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 5px;

			p {
				color: #FFF;
				font-size: 12px;
			}
		}
	}
}

.about-us {
	width: 1363px;
	height: 610px;
	margin: 0 auto;
	background: url(../images/about-us_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	// padding-bottom: 101px;

	.about-title {
		font-size: 32px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 100px 0 26px 70px;
	}

	.about-text {
		width: 563px;
		color: #CFCFCF;
		font-size: 20px;
		line-height: 25px;
		padding: 0 0 60px 70px;
	}

	.about-btn {
		color: #FFF;
		font-family: 'Proxima Nova';
		font-size: 13px;
		font-weight: 700;
		margin-left: 70px;
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.20);
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(2.5px);
		padding: 22px 25px 21px 64px;
	}
}

.about-us_cards {
	padding: 71px 0 0 0;

	.ss {
		.card-text {
			padding-left: 23px;
		}
	}

	.sss .card-text {
		padding-left: 12px;
		color: #79b282;
	}

	.about-card {
		background: rgba(80, 75, 74, 0.90);
		backdrop-filter: blur(5px);
		width: 228px;
		height: 226px;
		padding: 66px 22px 40px 21px;
		margin: 15px;

		svg {
			margin-left: 58px;
			margin-right: 57px;
			margin-bottom: 26px;
			/*:hover {
				color: #79B282;
			}*/
		}

		.card-text {
			font-size: 18px;
			/*:hover {
				color: #79B282;
			}*/
		}

	}

	.about-card:hover {
		box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.40);
		backdrop-filter: blur(2px);
	}
}

.s {
	padding: 71px 0 71px 160px;
}